---
---

@use "sass:color";
@use 'variables' as *;

/** DUCKLAKE STYLES **/


/** General DuckLake Styles **/

::-moz-selection {
  background: #B2E2FF80;
}
::selection {
  background: #B2E2FF80;
}

h4{
	font-size: 20px;
	font-weight: 700;
	letter-spacing: -.02em;
}

.textbutton:hover{
	color: var(--blue-70, #2eafff);
}

.banner{
	background: var(--lake-ribbon-background-color, #99D8FF);
	color: black;
	z-index: 800;
	.close{
		filter: invert(1);
	}
}

header .headerline .headercontent .landingmenu nav .hasSub:hover a,
header .headerline .headercontent .landingmenu nav a:hover{
	color: var(--blue-70, #2eafff);
}

.cards{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
	&.vertical.images{
		.card{
			position: relative;
			width: calc(50% - 10px);
			backdrop-filter: blur(7px);
			border-radius: 10px;
			border: 1px solid var(--lake-infobox-border-color, rgba(204, 235, 255, 0.60));
			background: var(--lake-infobox-background-color, rgba(229, 245, 255, 0.60));
			.image{
				width: 100%;
				aspect-ratio: 16/9;
				background: #ffffff66;
			}
			.content{
				padding: 30px 20px;
				display: flex;
				flex-wrap: wrap;
				flex-direction: column;
				gap: 20px;
				p{
					margin: 0;
				}
			}
		}
	}
	&.horizontal.icons,
	&.vertical.icons{
		justify-content: flex-start;
		.card{
			position: relative;
			width: calc( (100% - 60px) / 4);
			padding: 30px 20px;
			border-radius: 15px;
			border: 1px solid var(--lake-infobox-border-color, rgba(204, 235, 255, 0.60));
			background: var(--lake-infobox-background-color, rgba(229, 245, 255, 0.60));
			backdrop-filter: blur(7px);
			.icon{
				width: 50px;
				height: 50px;
				margin-bottom: 20px;
				position: relative;
				overflow: hidden;
				img{
					object-fit: contain;
					object-position: center center;
					width: 100%;
					height: 100%;
				}
			}
			.content{
				h3{
					font-size: 22px;
					font-style: normal;
					font-weight: 500;
					margin-bottom: 15px;
				}
				p{
					font-size: 16px;
					margin: 0;
				}
			}
		}
	}
	&.horizontal.icons{
		row-gap: 50px;
		.card{
			width: calc( (100% / 6) * 4);
			border: 1px solid var(--lake-infobox-border-color, rgba(204, 235, 255, 0.60));
			background: var(--grey-transparent-95, rgba(242, 242, 242, 0.60));
			backdrop-filter: blur(21.5px);
			display: flex;
			gap: 20px;
			flex-wrap: wrap;
			.icon{
				margin-bottom: 0;
				img{
					object-position: top center;
				}
			}
			.content{
				width: calc(100% - 70px);
				h3{
					font-weight: 600;
					margin-bottom: 10px;
				}
			}
			&:nth-child(even){
				margin-left: auto;	
			}
		}
	}
}


/** Landing page styles **/
body.landing{
	font-size: 17px;
	section.welcome{
		background: linear-gradient(180deg, var(--lake-background-gradient-start, #F5FBFF) 0%, var(--lake-background-gradient-end, #E5F5FF) 100%);
		padding-bottom: 130px;
		.ducklake{
			margin: 0 auto;
			max-width: 850px;
			text-align: center;
			display: flex;
			flex-direction: column;
			row-gap: 25px;
			p{
				margin: 0;
			}
		}
		
	}
	section.architecture{
		padding-top: 80px;
	}
	.wave{
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 364.8 28.6'%3E%3Cpath d='M364.8 0h-.1c-45.5 0-68.3 4.2-91.1 8.3-22.8 4.2-45.5 8.3-91 8.3s-68.3-4.2-91.1-8.3C68.7 4.2 45.9 0 .4 0H0v28.6h364.8V0Z' style='fill:%23fbfbfb'/%3E%3C/svg%3E");
		width: 100%;
		height: 30px;
		background-size: contain;
		background-repeat: repeat-x;
		transform: translateY(-20px);
		position: relative;
		z-index: 200;
		background-position: 0 bottom;
		animation: waveMove 20s linear infinite;
	}
	@keyframes waveMove {
		0% { background-position-x: 0; }
		100% { background-position-x: 1000px; }
	}
	section#quickinstall{
		.wrap{
			.install{
				margin: 0 auto;
				margin-top: 50px;
			}
		}
		&:after{
			display: none;
		}
	}
	section{
		.section-text{
			max-width: 640px;
			text-align: center;
			margin: 0 auto;
		}
	}
	h1{
		font-size: 55px;
		font-weight: 600;
		letter-spacing: -1.1px;
	}
	h2{
		font-size: 55px;
		font-weight: 600;
		text-align: center;
		letter-spacing: -1.1px;
	}
	h3{
		font-size: 28px;
		font-weight: 600;
		letter-spacing: -0.56px;
	}
	
	h2 + div{
		margin-top: 50px;
	}
}

section.architecture {
	.illustration {
		width: calc(100% - 450px);
		margin: 50px auto 0;
	}

	.diagram {
		display: flex;
		padding: 20px;
		gap: 15px;

		.client,
		.database,
		.storage {
			border-radius: 15px;
			border: 1px solid var(--doc-codebox-border-color, #E6E6E6);
			background: var(--doc-codebox-background-color, #F2F2F2);
			padding: 15px;
			position: relative;

			h4 {
				font-size: 17px;
				font-weight: 500;
			}

			&:hover {
				border-color: var(--lake-infobox-border-color, rgba(204, 235, 255, 0.60));

				.hover-content {
					visibility: visible;
					opacity: 1;
				}
			}
		}

		.client {
			width: 60%;
			overflow: hidden;
			height: 393px;

			.browser-wrap {
				width: 100%;
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 10px;
				margin-top: 40px;

				.browser {
					width: 285px;
					transition: all 0.5s;
				}

				&.contains-multi {
					.browser {
						width: calc(100% - 2px);
						left: 0;

						.broser-content {
							top: 35px;
						}

						.ducklake,
						.icons {
							width: 50px;
							height: 50px;

							.sub {
								margin-top: 55px;
								font-size: 10px;
							}
						}
					}

					.browser.multi {
						opacity: 1;
						pointer-events: auto;
						transform: translateY(0);
					}
				}
			}

			.browser.multi {
				opacity: 0;
				pointer-events: none;
				transform: translateY(20px);
			}

			.browser {
				position: relative;
				left: 35px;
				transition: all 0.4s;

				>img {
					width: 100%;
					height: auto;
					z-index: 50;
					position: relative;
				}

				>img.multi {
					position: absolute;
					left: 0;
					top: 0;
					opacity: 0;
					visibility: hidden;
					transform: translate(0, 0);
					transition: transform 0.5s ease-out, opacity 0.3s ease-in-out;

					&.visible {
						opacity: 1;
						visibility: visible;
					}
				}

				.broser-content {
					position: absolute;
					top: 60px;
					width: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 12px;
					z-index: 60;
					transition: all 0.3s;
				}

				.ducklake,
				.icons {
					display: flex;
					flex-direction: column;
					align-items: center;
					position: relative;
					height: 70px;
					width: 70px;
					transition: all 0.4s;

					img {
						height: 100%;
						width: auto;
						position: absolute;
						transition: all 0.3s;

						&.active-icon {
							opacity: 1;
							visibility: visible;
						}
					}

					.sub {
						margin-top: 80px;
						text-align: center;
						transition: all 0.4s;
					}
				}
			}
		}

		.hover-content {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 100;
			border-radius: 15px;
			background: var(--lake-architecture-background-hover, #E5F5FF);
			padding: 15px;
			visibility: hidden;
			opacity: 0;
			transition: all 0.3s;
			cursor: default;

			>div {
				display: none;

				&.active-item {
					display: block;
				}
			}

			h4 {
				color: var(--blue-40, #357197);
			}

			p {
				font-size: 14px;
				color: var(--main-text-secondary-color, #666);
			}
		}

		.connector {
			position: absolute;
			bottom: 30px;
			height: 10px;
			width: 50px;
			left: calc(-28px - 8px);
			z-index: 101;

			svg {
				width: 100%;
				height: auto;
			}
		}

		.sub {
			color: var(--main-text-secondary-color, #666);
			font-size: 14px;
		}

		.storage .folder,
		.database .catalog {
			height: 140px;
			padding: 30px;
			text-align: center;

			img {
				width: 90px;
			}
		}

		.database .catalog {
			>img {
				width: 65px;
			}

			.icons {
				position: absolute;
				top: 100px;
				right: 15%;
				width: 100px;
				height: 50px;

				img {
					width: 50px;
					height: 50px;
					position: absolute;
					left: 50%;
					top: 0;
					transform: translateX(-30%);
					opacity: 0;
					visibility: hidden;
					transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;

					&.active-icon {
						opacity: 1;
						visibility: visible;
						transform: translateX(-50%);
					}
				}

				.sub {
					position: absolute;
					width: 100%;
					top: 55px;
					left: 0;
					text-align: center;
				}
			}
		}
	}

	.database-storage {
		width: calc(40% - 15px);
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
}


body.manifesto{
	p{
		font-size: 18px;
		line-height: 1.4;
	}
	p + h4{
		margin-top: 2em;
	}
}

/* Footer **/
footer .sitefooter .footercontent > div a:hover{
	color: var(--blue-70, #2eafff);
}
footer .sitefooter .footercontent .footerlogo{
	width: 211px;
	height: 63px;
}
