@use 'variables' as *;

@mixin button {
	display: inline-block;
	cursor: pointer;
	font-size: 14px;
	line-height: 1;
	font-weight: 600;
	transition: background-color .3s;
	padding: 12px 20px;
	border-radius: 100px;
	text-decoration: none;
	color: inherit;
	box-sizing: border-box;
	margin-right: 10px;
	&.yellow{
		background: var(--interactive-button-yellow-background-color, #FFF100);
		border: 1px solid var(--interactive-button-yellow-border-color-hover, #EDDD0C);
		color: #000;
		&:hover{
			background: var(--interactive-button-yellow-background-color-hover, #EDDD0C);
			border: 1px solid var(--interactive-button-yellow-border-color-hover, #EDDD0C);
		}
	}
	&.blue{
		background: var(--blue-70, #2EAFFF);
		border: 1px solid var(--blue-60, #58A8DA);
		color: #000;
		&:hover{

		}
	}
	&.black{
		background: var(--main-text-primary-color, #F2F2F2);
		border: 1px solid black;
		color: var(--main-body-background-color, #0D0D0D);
		&:hover{
	
		}
	}
	&.transparent{
		border: 1px solid var(--interactive-button-black-border-color, #1A1A1A);
		&:hover{
			border: 1px solid var(--interactive-button-black-border-color, #1A1A1A);
		}
	}
	&.white{
		background: white;
		color: black;
		&:hover{
			background: #7D66FF;
			color: white;
		}
	}
	&.arrow-down::after{
		content: "↓";
		margin-left: 5px;
	}
	&.arrow-right{
		&:after{
			/*background-image: url("data:image/svg+xml,%3Csvg width='13' height='9' viewBox='0 0 13 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.472 4.64599L8.146 8.99999L7.25 8.07599L10.008 5.33199H0V3.97399H10.036L7.25 1.21599L8.146 0.291992L12.472 4.64599Z' fill='black'/%3E%3C/svg%3E%0A");
			content: "";
			width: 13px;
			height: 9px;
			background-size: contain;
			display: inline-block;
			*/
			margin-left: 5px;
			transition: all .25s;
			content: "→";
		}
		&:hover:after{
			margin-left: 12px;
		}
	}
	&:hover{
		text-decoration: none;
	}
}

@mixin textbutton{
	font-size: 14px;
	font-weight: 500;
	color: inherit;
	text-decoration: none;
	display: inline;
	&.arrow-right{
		&:after{
			/*
			background-image: url("data:image/svg+xml,%3Csvg width='13' height='9' viewBox='0 0 13 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.472 4.64599L8.146 8.99999L7.25 8.07599L10.008 5.33199H0V3.97399H10.036L7.25 1.21599L8.146 0.291992L12.472 4.64599Z' fill='black'/%3E%3C/svg%3E%0A");
			content: "";
			width: 13px;
			height: 9px;
			background-size: contain;
			display: inline-block;
			*/
			content: "→";
			margin-left: 5px;
			transition: all .25s;
		}
		&:hover:after{
			margin-left: 12px;
			/*background-image: url("data:image/svg+xml,%3Csvg width='13' height='9' viewBox='0 0 13 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.472 4.64599L8.146 8.99999L7.25 8.07599L10.008 5.33199H0V3.97399H10.036L7.25 1.21599L8.146 0.291992L12.472 4.64599Z' fill='%237D66FF'/%3E%3C/svg%3E%0A");*/
		}
	}
	&:hover{
		color: $purple;
	}
}

.ducklake_logo,
#ducklake_logo{
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='134' height='38' fill='none'%3E%3Cpath fill='%231A1A1A' d='M18.5.5C8.3.5 0 8.8 0 19s8.3 18.5 18.5 18.5S37 29.2 37 19 28.7.5 18.5.5Z'/%3E%3Cpath fill='%232EAFFF' fill-rule='evenodd' d='M16.39 9.823a9.376 9.376 0 0 1 8.093 4.62h1.707v.01c2.357 0 4.345 1.896 4.35 4.301h.01c0 2.39-1.96 4.35-4.35 4.35h-1.264c-1.43 3.132-4.526 5.344-8.157 5.492l-.39.008-.483-.013A9.384 9.384 0 0 1 7 19.214v-.01c0-5.19 4.2-9.39 9.39-9.39v.01Zm0 2.851c-3.6 0-6.53 2.92-6.53 6.53v.01a6.531 6.531 0 0 0 12.74 2.02l.32-.99h3.28c.797 0 1.484-.675 1.49-1.48h-.01c0-.79-.66-1.46-1.49-1.46H22.7l-.38-.83a6.513 6.513 0 0 0-5.93-3.8Z' clip-rule='evenodd'/%3E%3Cpath fill='%230D0D0D' d='M47.95 11.165h-5.16v15.49h5.16c3.46 0 6.28-3.46 6.28-7.77s-2.82-7.72-6.28-7.72Zm0 12.99h-2.82v-10.48h2.82c2.19 0 3.93 2.36 3.93 5.21s-1.74 5.28-3.93 5.28v-.01ZM72.74 24.315h-.57c-1.36 0-2.48-1.15-2.48-2.56v-2.67c0-1.44 1.13-2.6 2.48-2.6h.57c1.4 0 2.55 1.08 2.55 2.42h2.38c0-2.67-2.23-4.87-4.92-4.87h-.57c-2.65 0-4.8 2.27-4.8 5.05v2.67c0 2.81 2.14 5.07 4.8 5.07h.57c2.78 0 5.05-2.2 5.05-4.85h-2.38c0 1.28-1.21 2.33-2.67 2.33l-.01.01ZM63.16 21.715c0 1.53-.89 2.6-2.12 2.6h-.59c-1.25 0-2.12-1.08-2.12-2.6v-7.09h-2.36v7.54c0 2.72 1.85 4.67 4.44 4.67h.68c2.59 0 4.41-1.95 4.41-4.67v-7.54h-2.33v7.09h-.01ZM89.05 14.055h-3.28l-3.85 4.38v-7.25h-2.33v15.44h2.33v-4.53l1.13-1.26 3.84 5.79h2.89l-5.1-7.7 4.37-4.87ZM122.54 14.055h-3.3l-3.84 4.38v-7.25h-2.33v15.44h2.33v-4.53l1.13-1.26 3.84 5.79h2.89l-5.1-7.7 4.38-4.87ZM93.51 11.165H91.2v15.49h8.93v-2.5h-6.62v-12.99ZM131.24 22.385c-.22 1.09-1.32 1.93-2.63 1.93h-.57c-1.36 0-2.48-1.14-2.48-2.56v-.87h7.98v-1.98c0-2.67-2.23-4.87-4.92-4.87h-.57c-2.65 0-4.8 2.27-4.8 5.05v2.67c0 2.81 2.14 5.07 4.8 5.07h.57c2.64 0 4.82-1.98 5.03-4.45h-2.4l-.01.01Zm-2.63-5.9c1.38 0 2.51 1.13 2.54 2.45h-5.6c.08-1.37 1.17-2.45 2.48-2.45h.58ZM108.331 15.895c-.7-.9-1.61-1.44-2.65-1.44h-.59c-2.57 0-4.37 2.09-4.37 5.07v2.22c0 2.96 1.8 5.07 4.37 5.07h.59c1.04 0 1.95-.52 2.65-1.41v1.21h2.25v-12.01h-2.25v1.29Zm.22 5.3c0 1.98-1.21 3.34-2.86 3.34h-.59c-1.34 0-2.27-1.15-2.27-2.78v-2.22c0-1.66.93-2.83 2.27-2.83h.59c1.66 0 2.86 1.35 2.86 3.25v1.24Z'/%3E%3C/svg%3E");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center left;
	width: 135px;
	height: 70px;
	pointer-events: none;
}

.button{
	@include button;
}
.textbutton{
	@include textbutton;
}